body{padding:0; margin:0}
#thankyoupage{ width:1020px; margin:0 auto; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif }
#thankyoupage .logo{}
#thankyoupage .invioce-header{text-align:right}
#thankyoupage .invioce-header a{margin:0 10px; text-decoration:none; color:#000}
#thankyoupage .title{ font-size:18px}
#thankyoupage .box{border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #d1d1d1;
    color: #181818;
    float: left;
    font-weight: 400;
    height: auto;
    margin-bottom: 10px;
    width: 100%;}
#thankyoupage .box p a{text-decoration:underline;  color:#00BF00}
#thankyoupage .box p a:hover{text-decoration:underline; color:red }


#thankyoupage .box .confirm{border-right: 4px solid #eaeaea;
    float: left;
    margin: 5px 8px;
    padding: 10px;
    width: 49%;}
#thankyoupage .box .address{float: left;
    font-size: 13px;
    margin: 10px 5px;
    width: 46%}
#thankyoupage .box .address .head-title{border-bottom:#FF8000 1px solid; font-weight:600; font-size:18px}
#thankyoupage .box .address .name{font-size:22px}
#thankyoupage .box .address i{margin-right:3px}
#thankyoupage .box .confirm b span{border-bottom:#FF8000 1px solid; color:red; font-weight:600}
#thankyoupage .shiporder{margin-top:10px; }
#thankyoupage .orderdetails{ width:100%; }
#thankyoupage .orderdetails table{width:100%;  vertical-align:top; float:left; border-collapse:collapse;}
#thankyoupage .orderdetails table thead{background-color:#EAEAEA;  text-align:center}
#thankyoupage .orderdetails table tr{vertical-align:top;text-transform:capitalize;}
#thankyoupage .orderdetails  .thankyou_subtotal{ }
#thankyoupage .orderdetails  .thankyou_subtotal td{padding:5px 0px;}
#thankyoupage .orderdetails .left{text-align:left}
#thankyoupage .orderdetails .right{text-align:right}
#thankyoupage .orderdetails .right td{padding-right:5px}
#thankyoupage .orderdetails .hund{width:100px}
#thankyoupage .orderdetails .hund img{background-size:100%; width:55px  }
#thankyoupage .orderdetails .fifty{width:50px}
#thankyoupage .orderdetails .twohun{width:200px}
#thankyoupage .orderdetails .fourhun{width:400px}
#thankyoupage .orderdetails table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
#thankyoupage .orderdetails table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
#thankyoupage .orderdetails table a:active,
#thankyoupage .orderdetails table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
#thankyoupage .orderdetails table {
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
#thankyoupage .orderdetails table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#thankyoupage .orderdetails table th:first-child {
	text-align: left;
	padding-left:20px;
}
#thankyoupage .orderdetails table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
#thankyoupage .orderdetails table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
#thankyoupage .orderdetails table tr {
	text-align: center;
	padding-left:20px;
}
#thankyoupage .orderdetails table td:first-child {
	
	padding-left:20px;
	border-left: 0;
}
#thankyoupage .orderdetails table td {
	padding:8px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#thankyoupage .orderdetails table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#thankyoupage .orderdetails table tr:last-child td {
	border-bottom:0;
}
#thankyoupage .orderdetails table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
#thankyoupage .orderdetails table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
#thankyoupage .orderdetails table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.chkout_footer{width:100%; float:left; margin-top:10px; size:12px; background-color:#DDDDDD; }
.chkout_footsec{width:500px; width:1020px; margin: 0 auto; text-align:right; }
.chkout_footsec span{margin:10px;font-size:13px}
.chkout_footsec span a{text-decoration:none; color:#6C6C6C}
.chkout_footsec span a:hover{color:#575757}