<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>

    <add key="adminServerPath" value="http://localhost:3747/WebSite1" />
    <add key="FacebookAppId" value="258392321037759" />
    <add key="FacebookAppSecret" value="bda7a27fda84dfc5696fc949f1c61510"   />
    <add key="hostUrl" value="http://localhost:16271/ShopFloor/"/>
    <add key="staticPath" value="http://localhost:3747/WebSite1/"/>
    
    <add key="MailServer" value="smtpout.secureserver.net"/>
    <add key="MailUsername" value="support@shoppersfloor.com"/>
    <add key="MailPassword" value="support@123"/>
    <add key="MailFrom" value="support@shoppersfloor.com"/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="SiteName" value="MegaFactoryoutlet"/>
    <add key="cacheExpireHour" value="12"/>
    <add key="cacheEnable" value="true"/>
    <add key="Above" value="3000"/>
    <add key="Below" value="500"/>
    <add key="VAT" value="4"/>
    <add key="ShippigCharge" value="0"/>
    <add key="CC_NO" value="180010010010"/> <!--customer care no-->
    <add key="CC_Email" value="customercare@shoppersfloor.com"/> <!--customer care no-->
    <add key="OrderTrakerEmail" value="orderTracker@shoppersfloor.com"/>
    <add key="ErrorInfoEmail" value="errorinfo@shoppersfloor.com"/>
    <!--logger info-->
    <add key="IsDebugOn" value="No"/>
    <add key="IsWarningOn" value="No"/>


  </appSettings>
  <connectionStrings>
	<!--<add name="Conn" connectionString="Data Source=184.168.47.10,1433;Initial Catalog=SFLOOR_DB; User ID=SF_ADMIN;Password=hKz8h7!7;MultipleActiveResultSets=true; Timeout=100000" />-->
    <add name="Conn" connectionString="Data Source=(local);Initial Catalog=MEGA_DB; User ID=sa;Password=sa@123;MultipleActiveResultSets=true; Timeout=3000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<location allowOverride="true">
    <system.web>
   
      <fullTrustAssemblies>
        <add  assemblyName="NVelocity" version="1.4322" publicKey="407dd0808d44fbdc"/>
       </fullTrustAssemblies>
    </system.web>
  </location>-->
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <pages>
      <namespaces>
        <add namespace="MFO.Utils" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </controls>
    </pages>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpModules>
      <add  name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <httpHandlers>
      <clear />
      <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" />
    </httpHandlers>
	 
  </system.web>
  <rewriter>
    <if url="~/Search">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/Account">
      <rewrite to="~/sfloor/pages/MyAccount.aspx" processing="stop"></rewrite>
    </if>
	<if url="~/Compare-Products">
      <rewrite to="~/sfloor/pages/CompareItems.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/logout">
      <rewrite to="~/sfloor/pages/AjaxService.aspx?action=logout" processing="stop"></rewrite>
    </if>
    <if url="~/Footwear-Details">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/Accessories-Details">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/(.+)?htm">
      <rewrite to="~/sfloor/pages/CatDetails.aspx" processing="stop"></rewrite>
    </if>

    <if url="~/Women/Accessories/Bangles">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBA" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Accessories/Hair-Accessories">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOACH" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Accessories/Jewellery">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOJW" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Accessories/Ipad-Cover">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOACC" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Accessories/Scarf">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOSC" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Accessories/Sunglasses">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOSN" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Accessories/Watches">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOWE" processing="stop"></rewrite>
    </if>


    <if url="~/Women/Clothing/Blouse">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBU" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Dresses">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOCD" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Ethnic-Wear">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOEW" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Jeggings-Leggings">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOCLJ" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Jump-Suit">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOJS" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Night-Wear">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WONU" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Pants">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOPT" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Shorts-Skirts">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOCLS" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing/Tops">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOTK" processing="stop"></rewrite>
    </if>


    <if url="~/Women/Bags/Across-Body-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBAB" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Clutches">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBCL" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Hand-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBHN" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Hobo-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBHO" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Laptop-Sleeve">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBLS" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Shopping-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOSBA" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Shoulder-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBSB" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Tote-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBTB" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags/Travel-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOBTR" processing="stop"></rewrite>
    </if>


    <if url="~/Women/Footwear/Ballerinas">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOF" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Footwear/Wedges">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOW" processing="stop"></rewrite>
    </if>


    <if url="~/Women/Health-Beauty/Bath-Body">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOHBB" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Health-Beauty/Cosmetics">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOHM" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Health-Beauty/Frangrances">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOHF" processing="stop"></rewrite>
    </if>


    <if url="~/Women/Health-Beauty/Frangrances">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=WOHF" processing="stop"></rewrite>
    </if>

  
    <if url="~/Women/Accessories">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=WOAC" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Clothing">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=WOCL" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Bags">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=WOB" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Ethnic-Wear">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=WOEW" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Footwear">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=WOFT" processing="stop"></rewrite>
    </if>
    <if url="~/Women/Health-Beauty">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=WOHB" processing="stop"></rewrite>
    </if>

    <if url="~/Women/Whats-Trending">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>

    <if url="~/Mega-Offer/Whats-Trending">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Accessories/Cufflinks">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MECC" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Accessories/Sunglasses">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEAS" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Accessories/Watches">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MECW" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Clothing/Jeans-Pants">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEJP" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Clothing/Boxer-n-Lower">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEBL" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Clothing/Shirt">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MESH" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Clothing/T-Shirt">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=METS" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Footwear/Formal-Shoes">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEFFS" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Footwear/Loafers">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MELF" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Footwear/Sandals">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEFSN" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Footwear/Sport-Shoes">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEFSS" processing="stop"></rewrite>
    </if>


    <if url="~/Men/Grooming/Bath-Body">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEHBB" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Grooming/Fragrances">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=MEHFR" processing="stop"></rewrite>
    </if>

    <if url="~/Men/Whats-Trending">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/Men/Accessories">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=MEAC" processing="stop"></rewrite>
    </if>
    <if url="~/Men/Clothing">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=MECL" processing="stop"></rewrite>
    </if>
    <if url="~/Men/Footwear">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=MEFT" processing="stop"></rewrite>
    </if>
    <if url="~/Men/Grooming">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=MEHHB" processing="stop"></rewrite>
    </if>
	<if url="~/Baby">
      <rewrite to="~/IndexCategoryBaby.aspx" processing="stop"></rewrite>
    </if>

    <if url="~/Brands">
      <rewrite to="~/mega-site-map.aspx" sprocessing="stop"></rewrite>
    </if>


    <if url="~/Home-Storage/Bedding-Bath/Bed-Covers">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDBC" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Bedding-Bath/Cushion">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDCS" processing="stop"></rewrite>
    </if>

    <if url="~/Home-Storage/Decor-Accessories/Art-Decor">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDA" processing="stop"></rewrite>
    </if>

    <if url="~/Home-Storage/Decor-Accessories/Kitchen-Dining">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDKD" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Decor-Accessories/Wall-Clocks">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDW" processing="stop"></rewrite>
    </if>

    <if url="~/Home-Storage/Accessory-Organizer">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDR" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Apron">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDAP" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Blanket-Cover">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDBK" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Clothes-Organizer">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDZ" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Diaper-Bag">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDG" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Diaper-Stacker">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDN" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Dress-Cover">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDE" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Kids-Back-Pack">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDK" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Kids-Bibs">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDBB" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Laundry-Hampers">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDLH" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Multi-utility-Bags">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDMU" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Quilt">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDQ" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Shoe-Organizer">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDSO" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Suitcase">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDT" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Toiletry-Bags">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDTB" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Toys-Organizer">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDO" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Whats-Trending">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/Home-Storage/Bedding-Bath">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=HNDB" stopProcessing="true"></rewrite>
    </if>
    <if url="~/Home-Storage/Decor-Accessories">
      <rewrite to="~/sfloor/pages/Categories.aspx?CategoryType=HNDD" stopProcessing="true"></rewrite>
    </if>
 
    <if url="~/Home-Storage/Art-Decor">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDA" stopProcessing="true"></rewrite>
    </if>
    <if url="~/Home-Storage/Kitchen-Dining">
      <rewrite to="~/sfloor/pages/Categories.aspx?Pid=HNDKD" processing="stop"></rewrite>
    </if>
    
	
    <if url="~/contact-us">
      <rewrite to="~/ContactUs.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/return-policy">
      <rewrite to="~/returnpolicy.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/egiftcards">
      <rewrite to="~/egiftcards.aspx" processing="stop"></rewrite>
    </if>

    <if url="~/terms-of-use">
      <rewrite to="~/TermsOfUse.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/privacy-policy">
      <rewrite to="~/sfloor/pages/privacy_policy.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/faqs">
      <rewrite to="~/sfloor/pages/faqs.aspx" processing="stop"></rewrite>
    </if>

    <if url="~/Details">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/our-story">
      <rewrite to="~/AboutUs.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/Add-To-Cart">
      <rewrite to="~/sfloor/pages/AddtoCart.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/check-out">
      <rewrite to="~/sfloor/pages/CheckoutPage1.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/payment-success">
      <rewrite to="~/Cashondelivery.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/cashondelivery-payment-sucsses">
      <rewrite to="~/Cod.aspx" processing="stop"></rewrite>
    </if>
   
    
    <if url="~/doPaymint">
      <rewrite to="~/sfloor/pages/AjaxService.aspx?action=doPaymint" processing="stop"></rewrite>
    </if>
    <if url="~/order-summary">
      <rewrite to="~/sfloor/pages/OrderSummary.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/fav-items">
      <rewrite to="~/sfloor/pages/WishList.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/checkout-step-1">
      <rewrite to="~/sfloor/pages/CheckoutPage1.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/checkout-step-2">
      <rewrite to="~/sfloor/pages/CheckoutPage2.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/checkout-step-3">
      <rewrite to="~/sfloor/pages/CheckoutPage3.aspx" processing="stop"></rewrite>
    </if>
	<if url="~/Home-Decor">
      <rewrite to="~/sfloor/pages/home-and-decor.aspx" processing="stop"></rewrite>
    </if>
	
    <if url="~/Men">
      <rewrite to="~/sfloor/pages/Mens-section.aspx" processing="stop"></rewrite>
    </if>
    <if url="~/Women">
      <rewrite to="~/sfloor/pages/Womens-section.aspx" processing="stop"></rewrite>
    </if>
	<if url="~/Home">
      <rewrite to="~/Home.aspx" processing="stop"></rewrite>
    </if>

  </rewriter>
  <system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
            <add name="UrlRewriter"
             type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
        </modules>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge"  cacheControlMaxAge="30.00:00:00"  />
    </staticContent>
  </system.webServer>
</configuration>