*{font-family:Calibri}
.categorypage-content{ background:#fff; line-height:22px; color:#444; width:1170px; margin:0 auto; text-shadow:0 0 1px #f7f7f7; position:relative; padding:30px 0 0px }
#details-image{  float:left; left:0; width:450px; overflow:visible }
#description{ overflow:hidden;}
#description h1{ font-size:24px; text-transform:uppercase; font-weight:500; margin:0 0 5px; color:#555 }
#description h2{ font-size:26px; margin:32px 0; line-height:22px; color:#555 }
#description h2.closer{ margin-bottom:10px }

#description a{ text-decoration:none }
#description hr{ border:0; margin:0; padding:0; color:#f6f6ef; clear:both; border-bottom:1px dashed #D5D5D5; margin-bottom:50px }
#description .priceqty{height:110px; padding:10px 0px 10px 0px;   border-bottom:dotted 1px #D5D5D5}
#description .priceqty .price{width:300px; float:left}
#description .priceqty .price .rs{ color:#181818; padding:10px 0px 10px 0px; text-transform:uppercase; font-weight:500; font-size:22px}
#description .priceqty .price .discount{ color:#E70325;font-weight:500;text-transform:uppercase;}
#description .priceqty .price .oldprice{color:#ABABAB;text-transform:uppercase;padding-top:5px; }
#description .priceqty .price .oldprice .cut{text-decoration:line-through; }
#description .priceqty .price .rs span{margin-right:5px;}
#description .priceqty .price .avl{color:#707070; margin-right:5px;}
#description .priceqty .price .avl .instock{margin-left:10px; color:#00AA55}
#description .priceqty .addtocart_qty{background-color:#F3F3F3; border:#C0C0C0 solid 1px; width:300px; height:110px; float:left; text-align:center; line-height:35px}

.qty-container {
    height: 26px;
    width: 85px;
    margin: 10px auto;
    display: inline-block;
    position: relative;
}
.qty-container input.qty{
    padding: 4px 0px;
    width: 85px;
    margin: 0px;
    text-align: center;
    border: 1px solid #DDD;
}
 .qty-container input.qty-decrease {
    height: 18px;
    width: 18px;
    padding: 0px;
    border: medium none;
    transition: all 0.3s ease-out 0s;
    color:#8C8C8C;
	position: absolute;
    left: 5px;
    top: 10px;
	}
.qty-container input.qty-decrease:hover { background:#FFA953; color:#FFFFFF; cursor:pointer}
 .qty-container input.qty-increase {
    height: 18px;
    width: 18px;
    padding: 0px;
    border: medium none;
    transition: all 0.3s ease-out 0s;
    position: absolute;
	color:#8C8C8C;
    left: 65px;
    top: 10px;
	}
.qty-container input.qty-increase:hover { background:#FFA953; color:#FFFFFF;cursor:pointer}

#description .priceqty .addtocart_qty .addtocartbtn, .addtocart_qty-quick .addtocartbtn{position: relative; margin: 10px auto 10px;    border: 1px solid #DA7C0C; display:inline-block; padding: 6px 40px 7px; border-radius: 4px; border: 1px solid #DDD; color:#FEFEFE; font-size:16px; 
background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
}
#description .priceqty .addtocartbtn:hover,.addtocart_qty-quick .addtocartbtn:hover{ cursor:pointer;  transition: all 0.3s ease-out 0s;color:#FFFFFF; 
background: rgba(255,175,75,1);
background: -moz-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: linear-gradient(45deg, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}
#description .priceqty .addtocartbtn:active,.addtocart_qty-quick .addtocartbtn:active{ background: rgba(255,175,75,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}
#description .wishlist{ height:50px; border-bottom:#EAEAEA dotted 1px;border-top:#EAEAEA dotted 1px; text-transform:uppercase; }
#description .wishlist span{ border-right:#818181 dotted 1px; padding:0px 20px 0px 20px;line-height:50px}
#description .wishlist span a{text-decoration:none; color:#818181}
#description .wishlist span a:hover{color:#FF8040; transition: all 0.3s ease-out 0s;}
#description .policy{height:100px;  border-bottom:#EAEAEA dotted 1px;}
#description .policy i{color:#969696; font-size:11px}
#description .policy .cod, .shipping{
    float: left;
    width: 158px;
    background-color: #FBFBFB;
    border: 1px dotted #E5E5E5;
    height: 50px;
    color: #000;
    text-align: center;
    padding-top: 10px;
    margin-left: 7px;
	margin-top:20px;
    line-height: normal;
}

#description .short-desc{margin-top:10px; padding-bottom:15px; border-bottom:dotted 1px #D5D5D5}


#description .size{margin:20px 0px 10px 0px;color:#727272}
#description .size ul{list-style:none; position:absolute; top:250px; margin-left:50px}
#description .size ul li{ width:30px; height:30px; border:1px solid black;display:inline-table;margin:5px;}
#description .size ul li:hover{border:1px solid #FF8040; cursor:pointer;transition: all 0.3s ease-out 0s;}
#description .size ul li a{ text-decoration:none}
#description .size a{ float:right; color:#6C6C6C; font-size:14px;}
#description .size a:hover{color:#FF8000; cursor:pointer}

#description .color{margin:40px 0px 30px 0px; color:#727272}
#description .color ul{list-style:none; position:absolute; top:300px; margin-left:160px}
#description .color ul li{ width:35px; height:50px;border:1px solid black; display:inline-table; margin:5px;}
#description .color ul li:hover{ border:1px solid #FF8040; cursor:pointer;  transition: all 0.3s ease-out 0s;}
#description .color ul li a{ text-decoration:none}


#description-content{ margin-top:170px; margin-bottom:100px}
#description .comment{ color:#f5dd72; font-style:italic }
#description .list{ margin:35px 0 45px; border-collapse:collapse }
#description .list th{ font-style:italic; font-weight:normal; text-align:left }
#description .list td{ vertical-align:top; padding:3px 20px 3px 6px; border:1px solid #ccc; background:#f6f6ef }
#description .list .option{ font-weight:bold }
#description .list .default{ padding-right:0 }
#description .list tr:hover td{ background:#fff }
.buttonprev{	background-color:orange; opacity: 0.8;background:url(../large_files/fancybox_sprite.png) 0px 70px; opacity: 0.8; width:35px ;
 height:35px;
 cursor:pointer;border-radius:10px; position:absolute; bottom:100px; left:0px}
.buttonnext{	background-color:orange;
background:url(../large_files/fancybox_sprite.png) 0px 35px;
cursor:pointer;	opacity: 0.8; width:35px ; height:35px;
	border-radius:10px;position:absolute;bottom:100px; right:-12px}


/* Etalage container (large thumb + small thumbs): */
#etalage{
	display: none;
	margin-bottom: 50px;
}

/* Large thumbnail: */
#etalage .etalage_thumb{
	background: white url(../images/loading.gif) center no-repeat;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}
/* Large thumbnail - image (in case you want to add a border around the image within the frame) */
#etalage .etalage_thumb_image{ }

/* Small thumbnails: */
#etalage .etalage_small_thumbs li{
	background: white;
	border: 1px solid #ddd;
	margin: 10px;
	padding: 3px;
}
/* The one on the left that makes them slide */
#etalage ul li.etalage_smallthumb_first{ }
/* The one on the right that makes them slide */
#etalage ul li.etalage_smallthumb_last{ }
/* The currently active one */
#etalage ul li.etalage_smallthumb_active{
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}

/* Zoomed image area: */
#etalage .etalage_zoom_area,
.etalage_zoom_area{
	background: white url(../images/loading.gif) center no-repeat;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}

/* Magnifier area (thumbnail hovering rectangle): */
#etalage .etalage_magnifier{
	background: white;
	border: 1px solid #bbb;
}

/* Icon that will apear at the left bottom of the large thumbnail (optional): */
#etalage .etalage_icon{
	background: url(../images/zoom.png) no-repeat;
	width: 14px;
	height: 14px;
}

/* Hint that will apear at the top right of the large thumbnail (optional): */
#etalage .etalage_hint{
	background: url(../images/hint.gif) no-repeat;
	width: 130px;
	height: 57px;
}

/* Description area (optional) */
#etalage .etalage_description{
	background: white;
	font-style: italic;
	margin: 10px;
	padding: 6px 10px;
}

/*
 * ------------------------------------ FUNCTIONALITY --------------------------------------
 * The following CSS serves to make Etalage function properly. Don't edit or edit carefully.
 * -----------------------------------------------------------------------------------------
 */

.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint{ display:none }
.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description{ margin:0; padding:0; border:0; list-style:none }
.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img{ position:relative }
.etalage img, .etalage li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.etalage, .etalage_small_thumbs li{ float:left }
.etalage_right{ float:right }
.etalage li{ position:absolute }
.etalage img{ vertical-align:bottom; max-width:none }
.etalage_magnifier{ cursor:default }
.etalage_magnifier div, .etalage_small_thumbs{ overflow:hidden }
.etalage_magnifier div img{ display:none }
.etalage_icon, .etalage_hint{ cursor:default; width:0; height:0; overflow:hidden }
.etalage_small_thumbs li.vertical{ float:none }
.etalage_zoom_area{ z-index:996 }
.etalage_zoom_area div{ overflow:hidden; z-index:997 }
.etalage_zoom_preview{ position:absolute; z-index:998 }
.etalage_zoom_img, .etalage_hint{ z-index:999 }
.etalage{ direction:ltr }
div.etalage_description{ position:absolute; bottom:0; left:0; z-index:999 }
div.etalage_description.rtl{ direction:rtl; text-align:right }

.relateditem{ height:350px}

/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 100px;
	
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 20px;
}


.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 4px;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}


.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(../images/fancybox_sprite.png) no-repeat -2px -37px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}


.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: -2px -73px
}

.relateditem h2{ font-size:24px; font-weight:500; margin:52px 0 10PX 0px; border:#D5D5D5 solid 1PX; background:#F5F5F5; padding:5px 0px 5px 5px; color:#FF8040; line-height:22px; text-transform:uppercase   }



    .tabs {
      position: relative;   
      min-height: 300px; /* This part sucks */
      clear: both;
	  height:auto;
	  width:1170px;
      margin: 25px 0;
    }
    .tab {
      float: left;
	  
    }
    .tab label {
      
      padding:10px 50px 10px 50px; 
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	   margin-left: -1px; 
      position: relative;
      left: 1px; 
    }
    .tab [type=radio] {
      display: none;   
	  
    }
    .billcontent {
      position: absolute;
      top: 28px;
      left: 0;
      background: white;
      right: 0;
     min-height:250px;
	 
	 height:auto;
	  bottom: 0;
      padding: 20px;
      border: 1px solid #ccc; 
      width:auto;
      overflow: inherit;
    }
    .billcontent > * {
      opacity: 0;
      
      -webkit-transform: translate3d(0, 0, 0);
    
      -webkit-transform: translateX(-100%);
      -moz-transform:    translateX(-100%);
      -ms-transform:     translateX(-100%);
      -o-transform:      translateX(-100%);
      
      -webkit-transition: all 0.6s ease;
      -moz-transition:    all 0.6s ease;
      -ms-transition:     all 0.6s ease;
      -o-transition:      all 0.6s ease;
    }
    [type=radio]:checked ~ label {
      background: white;
      border-bottom: 3px solid orange;
	  color:#FF8040;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .billcontent {
      z-index: 1;
    }
    [type=radio]:checked ~ label ~ .billcontent > * {
      opacity: 1;
      
      -webkit-transform: translateX(0);
      -moz-transform:    translateX(0);
      -ms-transform:     translateX(0);
      -o-transform:      translateX(0);
    }
	
	.newproduct{ width:400px; height:500px; border:#C0C0C0 dashed 5px; position:absolute; right:0px; top:600px}
	
	/*
 Cloud Zoom CSS. (c)2012-2013 Star Plugins.
*/

/* CSS for lens */
.cloudzoom-lens {
    border:5px solid #888;
    width:220px;
    height:200px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
    cursor:crosshair;
    z-index: 10;
}
/* CSS for zoom window. */
.cloudzoom-zoom {
    border:1px solid #888;
    width:500px;
    height:200px;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
}
/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside {
    border:none;
    box-shadow:none;
	width:300px;
}
.cloudzoom-gallery{width:90px; height:100px;}
.cloudzoom-gallery-quick{width:100px; height:120px; position:absolute; }
.cloudzoom{width:400px; height:500px}
@media(max-width:700px)(min-width:800px){
.cloudzoom{width:300px; height:400px}
}
/* CSS for captions */
.cloudzoom-caption {
    display:none;   /* CSS captions should be hidden initially */
    text-align: left;
    background-color:#000;
    color:#fff;
    font-weight:bold;
    padding:10px;
    font-family: sans-serif;
    font-size:11px;
}

/* A blank image */
.cloudzoom-blank {
    background-image:url(images/blank.png);
}

/* The animated ajax loading image */
.cloudzoom-ajax-loader {
    background-image:url(images/loading.gif);
    width:32px;
    height:32px;
}
#quick-details-image{  float:left; left:0; width:410px; overflow:visible }

.quickview-content{ background:#fff; line-height:22px; color:#444; width:800px; margin:0 auto; text-shadow:0 0 1px #f7f7f7; position:relative; padding:44px 0 0px }
#description .priceqty .quick-price{width:180px; float:left}
#description .priceqty .quick-price .rs{ color:#181818; padding:3px 0px 3px 0px; text-transform:uppercase; font-weight:500; font-size:22px}
#description .priceqty .quick-price .discount{ color:#E70325;font-weight:500;text-transform:uppercase;}
#description .priceqty .quick-price .oldprice{color:#ABABAB;text-transform:uppercase;padding-top:5px; }
#description .priceqty .quick-price .oldprice .cut{text-decoration:line-through; }
#description .priceqty .quick-price .rs span{margin-right:5px;}
#description .priceqty .quick-price .avl{color:#707070; margin-right:5px;}
#description .priceqty .quick-price .avl .instock{margin-left:10px; color:#00AA55}
#description .priceqty .addtocart_qty-quick{background-color:#F3F3F3; border:#C0C0C0 solid 1px; width:200px; height:110px; float:left; text-align:center; line-height:35px}

#description .quick-size{margin:20px 0px 10px 0px;color:#727272}
#description .quick-size ul{list-style:none; position:absolute; top:270px; margin-left:50px}
#description .quick-size ul li{ width:30px; height:30px; border:1px solid black;display:inline-table;margin:5px;}
#description .quick-size ul li:hover{border:1px solid #FF8040; cursor:pointer;transition: all 0.3s ease-out 0s;}
#description .quick-size ul li a{ text-decoration:none}
#description .quick-size a{ float:right; color:#6C6C6C; font-size:14px;}
#description .quick-size a:hover{color:#FF8000; cursor:pointer}


#description .quick-color{margin:40px 0px 30px 0px; color:#727272}
#description .quick-color ul{list-style:none; position:absolute; top:320px; margin-left:160px}
#description .quick-color ul li{ width:35px; height:50px;border:1px solid black; display:inline-table; margin:5px;}
#description .quick-color ul li:hover{ border:1px solid #FF8040; cursor:pointer;  transition: all 0.3s ease-out 0s;}
#description .quick-color ul li a{ text-decoration:none}
#description .wishlist-quick{ height:50px; border-bottom:#EAEAEA dotted 1px;border-top:#EAEAEA dotted 1px; text-transform:uppercase; }
#description .wishlist-quick span{ border-right:#818181 dotted 1px; padding:0px 10px 0px 10px;line-height:50px}
#description .wishlist-quick span a{text-decoration:none; color:#818181}
#description .wishlist-quick span a:hover{color:#FF8040; transition: all 0.3s ease-out 0s;}
